* {
    margin: 0;
    padding: 0;
    
}


.result {
  
    width: 440px;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display:inline-block;
    margin: 20px;
  
    margin-left: 100px;
}


.each {
	
	margin: 10px auto;
 


	
}


h3 {
    display: inline;
    margin-right: 15px;
  }

  @media only screen and (max-width: 1370px) {
    .wholeRepo{
      display: block;
    }
}