* {
    margin: 0;
    padding: 0;
    
}


.result {
    display: inline;
}


.each {
    margin-bottom: 40px;
    width: 400px;
    border: 1px solid black;
    top: 0;
    border-radius: 20px;
    padding-left: 20px;
    display:inline-block;
    margin-right: 20px; 
    margin-left: 20px; 
    background-color: whitesmoke;
}


h3 {
    display: inline;
    margin-right: 15px;
  }

  @media only screen and (max-width: 1370px) {
    .wholeRepo{
      display: block;
    }
}