* {
    margin: 0;
    padding: 0;
    
}


label {
    display: block;
    padding: 10px;

}

.button {
    display: block;
    padding: 10px;
    margin: 5%;
}
.container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    
}