.GoBtn{
    width: 200px;
    height: 200px;
    line-height: 190px; 
    border-radius: 50%;
    background-color: black;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: xx-large;
    cursor: pointer;
}