.GoBtn{
    width: 250px;
    height: 250px;
    line-height: 230px; 
    border-radius: 50%;
    background-color: black;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 60px;
    cursor: pointer;
}